/* ===========================
   Estilo de Calendario
=========================== */
.calendario-container {
  margin-top: 200px;
  max-width: 1200px;
  height: 90vh;
  margin: 0 auto;
  padding: 2rem;
}

.calendario-title {
  font-family: "Coluna", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #002f87;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* Estilo de las categorías (botones) */
.categorias {
  display: flex;
  justify-content: space-between; /* Esto distribuye los botones a través del ancho */
  margin-top: 50px;
  width: 100%; /* Asegura que las categorías ocupen el 100% del ancho */
}

.categoria-btn {
  background-color: #ffffff;
  color: #000000;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  width: 100%; /* Esto permite que cada botón ocupe el 100% del espacio disponible */
  text-align: center;
  border: 1px solid #ccc; /* Opcional: Añadir borde para mayor definición */
}

.categoria-btn:hover {
  background-color: #ebebeb;
}

/* Estilo para la categoría activa */
.categoria-btn.active {
  background-color: #3561d8;
  color: white;
}

/* Estilo de los partidos */
.partidos-list {
  padding-left: 2rem;
}

.partido-card2 {
  margin-left: -20px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #f1f1f1, #ffffff);
  padding: 10px;
  transition: transform 0.3s;
}

.partido-card2:hover {
  transform: scale(1.05);
}

.partido-icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.partido-details {
  flex-grow: 1;
  margin-left: 1rem;
}

.partido-info {
  display: flex;
  align-items: center;
}

.escudo-icon {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-right: 1rem;
}

.jornada2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #b80000;
}

.equipo {
  font-size: 65px;
  color: #333;
  font-family: 'Coluna', sans-serif;
}

.partido-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fecha {
  font-size: 1rem;
  color: #777;
}

.tipo-partido-icon {
  width: 20px;
  height: 20px;
}
